<div ng-controller="MainCtrl">

        <div id="datetime">
            <h1 ng-if="OfflineStorage.seconds == true">{{ date.tz | date:'hh mm ss' }}</h1>
            <h1 ng-if="OfflineStorage.seconds == false">{{ date.tz | date:'hh mm ' }}</h1>
            <h2>{{ date.tz | date:'EEEE, MMMM yyyy' }}</h2>
        </div>
        <div id="forecast">
            <ul class="row list-unstyled">
                <li ng-repeat="day in weather.forecast.forecastday" class="col-md-3">
                 <span ng-class="{today: $index == 0}">

                     <img class="{{ day.icon }}" localimage="{{day.icon_url}}" >

                      <h3 ng-if="OfflineStorage.farenheit==true"><p class="temp"><i18n>high</i18n></p>{{ day.high.fahrenheit }} <p class="temp">F</p></h3>
                      <h3 ng-if="OfflineStorage.farenheit==false"><p class="temp"><i18n>high</i18n></p>{{ day.high.celsius}} <p class="temp">C</p></h3>
                       <hr>
                      <h5 ng-if="OfflineStorage.farenheit==true">{{ day.low.fahrenheit }}<p class="temp">F</p></h5>
                      <h5 ng-if="OfflineStorage.farenheit==false">{{ day.low.celsius}} <p class="temp">C</p></h5>
                      <h4 ng-if="$index == 0"><i18n>now</i18n></h4>
                      <h4 ng-if="$index != 0">{{ day.date.weekday }}</h4>
                </span>
                </li>
            </ul>
            <span><i18n>from</i18n>{{from}}</span>
            <a href="#/refresh"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>

</div>
